html, body { height:100%; }

body {
    font-family: 'Poiret One', sans-serif;
    background-color: #222;
    color: white;
    background-size: cover;
}

.jumbotron {
    background: url("../images/background.jpg") no-repeat;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.navbar-inverse, .navbar-brand {
    font-size: 1.4em;
}

.navbar-inverse a {
    color: white;
}

.navbar-inverse a:hover, a:focus {
    color: #000;
}

.container h2, h4 {
    color: #39CCCC;
    text-shadow: 1px 1px #0074D9;
}

.container p {
    font-size: 1.5em;
}

.round {
    border-radius: 12px; 
}

.shadow {
    padding-bottom: 50px;
    box-shadow: 0px 0px 10px 5px #dfdbff;
}

.section {
    padding-top: 50px;
}

.progress {
    height: 2em;
    margin-right: 35px;
}

.progress-bar {
    padding-top: 0.2em;
    font-size: 1.3em;
    font-weight: bolder;
    color: black;
    text-shadow: 1px 1px #0074D9;
}

.comma {
    font-family: sans-serif;
}

.portfolio {
    width: 300px;
    height: auto;
}

legend {
    border: 0;
    color: white;
}

.fa-github {
    color: #39CCCC;
}